// ==========================
// COLORS
// ==========================
$color-primary: #2563eb;
$color-secondary: #64748b;
$color-bg: #f8fafc;
$color-text: #7b2231;
$color-white: #ffffff;


// ==========================
// TYPOGRAPHY
// ==========================
$font-base: 'Arial', sans-serif;
$font-size-base: 16px;
$font-size-title: 1.25rem;

// ==========================
// SPACING
// ==========================
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;

// ==========================
// BORDER RADIUS
// ==========================
$radius-sm: 4px;
$radius-md: 8px;